.ConfigBar{
    height: 35%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.ConfigBar_Input{
    background-color: #2C1248;
    color:#ffffff;
    padding-left:5%;
    font-size: 1.5rem;
    font-weight: 700;
    margin:0;
    height: 60px;
    width: 40%;
    border: none;
    border-radius: 20px;
}
.ConfigBar_BTN{
    color:#2D1673;
    font-size: 1.5rem;
    font-weight: 700;
    height: 60px;
    border: none;
    width: 45%;
    border-radius: 20px;
    background: #9FC1FE; /* Для старых браузров */
    background: linear-gradient(to right, #9FC1FE, #D2E9F8);
}
.ConfigBar_BTN_Container{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}