.Diagram{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 65%;
}
.Diagram_CountDown{
    width: 200px;
    text-align: center;
    position: absolute;
    bottom: 150px;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 700;
}